{% extends "base.html" %}

{% block konten %}

<div class="container"><!--ini container ini berguna agar isi webnya di tengan -->
    <div class="jumbotron"><!--jumbroton ini akan di edit fi file style.css yang ada di dalam forder static dan di dalam folder css-->
        <h1 class="display-4">Hy Saya Sukarni majid</h1>
        <p class="lead">selamat datang di halaman website ini..! </p>
        <hr class="my-4">
        <p>Terima kasih kepada Ibu Gamaria mandar yang telah membimbing saya sehingga tugas saya website ini bisa terselesaikan.</p>
        <a class="btn btn-success btn-lg" href="#" role="button">Learn more</a>
      </div>
    
</div>

{% endblock %}